# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

shellDojo/tmp/regular-file

shellDojo/tmp/regular-file-with2dogs
